
body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 87%,
    rgba(148, 187, 233, 1) 100%
  );
  text-align: center;
}

.input{
  display: flex;
  align-items: center;
  justify-content: center;
  .search-bar{
    text-align: center;
    border-radius: 20px;
  }
}

